/* Error: Missing argument $string.
 *     ,--> node_modules/bootstrap/scss/_carousel.scss
 * 144 |   background-image: escape-svg();
 *     |                     ^^^^^^^^^^^^ invocation
 *     '
 *     ,--> node_modules/bootstrap/scss/_functions.scss
 * 131 | @function escape-svg($string) {
 *     |           =================== declaration
 *     '
 *   node_modules/bootstrap/scss/_carousel.scss 144:21  escape-svg()
 *   node_modules/bootstrap/scss/_carousel.scss 144:21  @import
 *   node_modules/bootstrap/scss/bootstrap.scss 42:9    @import
 *   src/main.scss 8:9                                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $string.\a     \250c \2500 \2500 > node_modules/bootstrap/scss/_carousel.scss\a 144 \2502    background-image: escape-svg();\a     \2502                      ^^^^^^^^^^^^ invocation\a     \2575 \a     \250c \2500 \2500 > node_modules/bootstrap/scss/_functions.scss\a 131 \2502  @function escape-svg($string) {\a     \2502            \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a     \2575 \a   node_modules/bootstrap/scss/_carousel.scss 144:21  escape-svg()\a   node_modules/bootstrap/scss/_carousel.scss 144:21  @import\a   node_modules/bootstrap/scss/bootstrap.scss 42:9    @import\a   src/main.scss 8:9                                  root stylesheet";
}
