$primary: #e52666;
$link-color: #ff1d9b;
$naruto: #ff6a00;
$dory: #0061ff;
$tweety: #f5ec00;
$rock-lee: #77bb41;
$sasuke: #e32400;
$jimbei: #00c7fc;
$barney: #9929bd;
$osmosis-jones: #0d4e90;
$mr-popo: #202426;
$casper: #ffffff;