@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

// bootstrap css-grid
$enable-grid-classes: false;
$enable-cssgrid: true;


@import "../node_modules/bootstrap/scss/bootstrap";

// nav {
//     display: flex;
//     justify-content: end;
//     display: inline-block;
// }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: $mr-popo;
    
}

// header {
//     position: absolute;
// }

.navbar {
    position: fixed;
    background-color: $primary;
    width: 100%;
    z-index: 200;

    .navbar-nav {
    
        width: 100%;
        justify-content: end;
    }
    
    .main-logo {
        height: auto;
        width: 7em;
    }
    
    .navbar-toggler-icon {
        fill: #ffffff;
        
    }
    
    
    .nav-link {
        display: inline-block;
        flex-wrap: nowrap;
        color: #ffffff;
    }
    
    // .mainLogo {
    //     height: 5rem;
    //     width: 5rem;
    // }
    
    // sets the marigin right for the last tab in the navbar
    .nav-item:nth-child(4) {
        margin-right: 3rem;
        
    }
}

// .main-body {
// }

.g-col-12 {
    position: relative;
    top: 5rem;
}

.imgContainer {
    position: relative;
    height: 19rem;
    width: 100%;
    // background-color: #6e6464;
    display: flex;
    align-items: center;
    justify-content: center;
    

    // animation: name duration timing-function delay iteration-count direction fill-mode;

}

.containImg {
    position: absolute;
    height: 17rem;
    width: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: green;
    border-radius: 50%;
    overflow: hidden;

    &::before {
        content: '';
        
        transform: skew(45deg);
    }

    .myImg {
        position: absolute;
        height: 20rem;
        width: 20rem;
        top: -0.2rem;
        left: -0.3rem;
        object-fit: fill;
        transition: 2s ease-out;
        &:hover {
            transition: 1.5s ease-in;
            scale: 2;
        }
    }
}

.skills {
    margin-bottom: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .skillCarousel {
        position: relative;
        top: 1rem;
        // background-color: $mr-popo;
    
        #compSkills {
            // background-color: #6e6464;
            height: 6rem;
            width: 40rem;
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: brown;
    
                // .carousel-fade .carousel-item {
                //     opacity: 0;
                //     transition-duration: 0.25s;
                //     transition-property: opacity;
                // }
    
                // .carousel-fade .carousel-item-next,
                // .carousel-fade .carousel-item-prev {
                //     opacity: 0.25;
                //     transition-delay: 2s;
    
                // }
    
                // .carousel-fade .active.carousel-item-next,
                // .carousel-fade .active.carousel-item-prev {
                //     opacity: 0.25;
                // }
    
                // .carousel-fade .active.carousel-item-next,
                // .carousel-fade .active.carousel-item-prev,
                // .carousel-fade .carousel-item-next,
                // .carousel-fade .carousel-item-prev {
                //     transform: translateX(0);
                //     transform: translate3d(0,0,0);
                // }
    
                .carousel-item {
                    height: 5em;
                    
                    h5 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
    
                    .fa-html5 {
                        color: $naruto;
                        height: 3em;
                        
                    }
    
                    .fa-css3 {
                        color: $vegeta;
                        height: 3em;
                    }
    
                    .fa-sass {
                        color: $buu;
                        height: 3em;
                    }
    
                    .fa-js {
                        color: $tweety;
                        height: 3em;
                    }
    
                    .fa-node {
                        color: $rock-lee;
                        height: 3em;
                    }
    
                    .fa-npm {
                        color: $sasuke;
                        height: 3em;
                    }
                    
                    .fa-python {
                        color: $osmosis-jones;
                        height: 3em;
                    }
    
                    .fa-react {
                        color: $jimbei;
                        height: 3em;
                    }
    
                    .fa-database {
                        color: $buu;
                        height: 3em;
                    }
    
                    .fa-github {
                        color: $mr-popo;
                        height: 3em;
                    }
                    
                    .fa-bootstrap {
                        color: $barney;
                        height: 3em;
                    }
    
                }

                .leftPointer {
                    fill: $primary;
                }
            
                .rightPointer {
                    fill: $primary;
                }
        }
    }
    
}
.quoteBlock {
    margin-bottom: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;

    .quote {
        
    
        .card {
            max-width: 550px;
            border-color: $primary;
    
    
            .card-header {
                background-color: $primary;
    
                h4 {
                    font-family: "Handlee", cursive;
                    font-weight: 400;
                    font-style: normal;
                }
            }
    
            .card-body {
                p, footer {
                    font-family: "Handlee", cursive;
                    font-weight: 400;
                    font-style: normal;
                }
            }
        }
    }
}

.bio {
    display: flex;
    align-items: center;
    justify-content: center;
    
    p {
        max-width: 45rem;
        color: $mr-popo;
        

        .longhorn {
            color: $naruto;
        }
        
        .panther {
            color: $vegeta;
        }
    }


    .lifeAchievements {

        width: 15em;
        height: 50em;
        border-radius: 10px;
        background-color: $bulbasaur;

        .usmcG {
            position: relative;
            left: 2em;
            width: 11em;
            height: 11em;
            display: flex;
            align-items: center;
            justify-content: center;
            

            .usmc {
                
                // display: flex;
                // align-items: center;
                // justify-content: center;
                // background-color: $rock-lee;

                img {
                    position: inherit;
                    bottom: 5em;
                    width: 7em;
                    height: 7em;
                }
            }

            
        }

        .hvacG {
            position: relative;
            left: 2em;
            width: 11em;
            height: 11em;
            display: flex;
            align-items: center;
            justify-content: center;

            .hvac {
                

                img {
                    position: inherit;
                    bottom: 5em;
                    width: 9em;
                    height: 8em;
                }
            }

            
        }

        .gsuG {
            position: relative;
            left: 2em;
            width: 11em;
            height: 11em;
            display: flex;
            align-items: center;
            justify-content: center;

            .gsu {
                

                img {
                    position: inherit;
                    bottom: 5em;
                    width: 7em;
                    height: 7em;
                }
            }

            
        }
        
        .diverG {
            position: relative;
            left: 2em;
            width: 11em;
            height: 0.25em;
            display: flex;
            align-items: center;
            justify-content: center;

            .diver {
                

                img {
                    position: inherit;
                    width: 7em;
                    height: 4em;
                }
            }
        }
        

        
            


        

    }

}



.htmlFive {
    fill: $naruto;
}



.cssThree {
    fill: $jimbei;
}

.jS {
    fill: $tweety;
}

.nodeJS {
    fill: $rock-lee;
}

.nodePack {
    fill: $sasuke;
}

// .reAct {
//     fill: $dory;
// }

.bootyStrap {
    fill: $barney
}

.shortBio {
    color: $casper;
}