@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

// bootstrap css-grid
$enable-grid-classes: false;
$enable-cssgrid: true;


@import "../node_modules/bootstrap/scss/bootstrap";

// nav {
//     display: flex;
//     justify-content: end;
//     display: inline-block;
// }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

// header {
//     position: absolute;
// }

.navbar {
    position: fixed;
    background-color: $primary;
    width: 100%;
    z-index: 200;

    .navbar-nav {
    
        width: 100%;
        justify-content: end;
    }
    
    .main-logo {
        height: auto;
        width: 7em;
    }
    
    .navbar-toggler-icon {
        fill: #ffffff;
        
    }
    
    
    .nav-link {
        display: inline-block;
        flex-wrap: nowrap;
        color: #ffffff;
    }
    
    
    // sets the marigin right for the last tab in the navbar
    .nav-item:nth-child(4) {
        margin-right: 3rem;
        
    }
}


.intro {
    height: 40rem;
    align-items: center;
    justify-content: center;

    .pfpBox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 19rem;

        .imgContainer {
            position: relative;
            // height: 19rem;
            // width: 100%;
            // background-color: #6e6464;
            display: flex;
            align-items: center;
            justify-content: center;
            
        
            // animation: name duration timing-function delay iteration-count direction fill-mode;
            .containImg {
                position: absolute;
                height: 17rem;
                width: 17rem;
                border-radius: 50%;
                overflow: hidden;
            
                &::before {
                    content: '';
                    
                    transform: skew(45deg);
                }
            
                .myImg {
                    position: absolute;
                    height: 20em;
                    width: 20em;
                    object-fit: fill;
                    transition: 2s ease-out;
                    &:hover {
                        transition: 1.5s ease-in;
                        scale: 2;
                    }
                }
            }
        }
    }
    
    
    
    .skills {
        // margin-bottom: 7rem;
        // display: flex;
        // align-items: center;
        // justify-content: center;
    
        .skillCarousel {
            position: relative;
            // top: 1rem;
            // background-color: $mr-popo;
        
            #compSkills {
                // background-color: #6e6464;
                height: 6em;
                // width: 52em;
                // display: flex;
                // align-items: center;
                // justify-content: center;
                // background-color: brown;
        
                    // .carousel-fade .carousel-item {
                    //     opacity: 0;
                    //     transition-duration: 0.25s;
                    //     transition-property: opacity;
                    // }
        
                    // .carousel-fade .carousel-item-next,
                    // .carousel-fade .carousel-item-prev {
                    //     opacity: 0.25;
                    //     transition-delay: 2s;
        
                    // }
        
                    // .carousel-fade .active.carousel-item-next,
                    // .carousel-fade .active.carousel-item-prev {
                    //     opacity: 0.25;
                    // }
        
                    // .carousel-fade .active.carousel-item-next,
                    // .carousel-fade .active.carousel-item-prev,
                    // .carousel-fade .carousel-item-next,
                    // .carousel-fade .carousel-item-prev {
                    //     transform: translateX(0);
                    //     transform: translate3d(0,0,0);
                    // }
        
                    .carousel-item {
                        height: 5em;
                        
                        h5 {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
        
                        .fa-html5 {
                            color: $naruto;
                            height: 3em;
                            
                        }
        
                        .fa-css3 {
                            color: $vegeta;
                            height: 3em;
                        }
        
                        .fa-sass {
                            color: $buu;
                            height: 3em;
                        }
        
                        .fa-js {
                            color: $tweety;
                            height: 3em;
                        }
        
                        .fa-node {
                            color: $rock-lee;
                            height: 3em;
                        }
        
                        .fa-npm {
                            color: $sasuke;
                            height: 3em;
                        }
                        
                        .fa-python {
                            color: $osmosis-jones;
                            height: 3em;
                        }
        
                        .fa-react {
                            color: $jimbei;
                            height: 3em;
                        }
        
                        .fa-database {
                            color: $buu;
                            height: 3em;
                        }
        
                        .fa-github {
                            color: $mr-popo;
                            height: 3em;
                        }
                        
                        .fa-bootstrap {
                            color: $barney;
                            height: 3em;
                        }
        
                    }
                    // .carousel-control-prev {
                    //     position: relative;
                    //     left: 4em;
                    // }
                    .leftPointer {
                        position: relative;
                        left: 4em;
                        height: 2em;
                        width: 2em;
                        fill: $primary;
                  
                    }
                
                    .rightPointer {
                        position: relative;
                        right: 4em;
                        height: 2em;
                        width: 2em;
                        fill: $primary;
                    }
            }
        }
        
    }
    
}

.quoteBlock {
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    .quote {
        max-width: 650px;  
        text-align: center;
        .card {
            border-color: $primary;
    
    
            .card-header {
                background-color: $primary;
    
                h4 {
                    font-family: "Handlee", cursive;
                    font-weight: 400;
                    font-style: normal;
                }
            }
    
            .card-body {
                p, footer {
                    font-family: "Handlee", cursive;
                    font-weight: 400;
                    font-style: normal;
                }
            }
        }
    }
}
.bio {
    
    align-items: start;
    justify-content: center;

    .g-col-12, .g-col-md-6 {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin: 2em;
            // margin-left: 5em;
            // max-width: 45rem;
            color: $mr-popo;
            
    
            .longhorn {
                color: $naruto;
            }
            
            .panther {
                color: $vegeta;
            }
        }
    }
   


    
}

.thusFar {
   
    
    
    :nth-child(-n + 4 of .g-col-6) {
        // margin: 1em;
        // padding: 2em;
        // height: 7em;
        // width: 7em;
        display:flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        border: 0.5px solid none;
        box-shadow: 2px 4px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: $pear;

        img {
            // position: inherit;
            // bottom: 5em;
            width: 8em;
            height: 8em;
        }
    }

    // :nth-child(-n + 4 of .g-col-md-3) {
    //     margin: 2em;
    //     padding: 2em;
    //     display: none;
    //     align-items: center;
    //     justify-content: center;
    //     border-radius: 8px;
    //     border: 2px solid $island-green;
    //     background-color: $sasuke;

    //     img {
    //         width: 4em;
    //         height: 4em;
    //     }
    // }

    // .g-col-md-3 {
        
    //     // background-color: $rock-lee;

    //     img {
    //         position: inherit;
    //         // bottom: 5em;
    //         width: 10em;
    //         height: 7em;
    //     }
    // }

    

}
.weatherChannel {
    width: 100%;
    display: block;

    .weatherHead {
        h3 {
            font-size: 35px;
        }
        
        .weatherOne {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $jimbei;
            // .g-col-md-3 {
                // margin: 1em;
                // height: 11em;
                // width: 11em;
                // border-radius: 12px;
                // background-color: $vegeta;
            // }

            .atl {
                margin: 1em;
                height: 9em;
                width: 9em;
                border-radius: 12px;
                overflow: hidden;
                background-color: $vegeta;

                .temp {
                    padding: 0.25em;
                    height: 3em;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $barney;

                    .farenheit {
                        height: 3em;
                        width: 3em;
                        background-color: $naruto;
                    }

                    .celcius {
                        height: 2em;
                        width: 2em;
                        background-color: $tweety;
                    }
                }

                .weather {
                    padding: 0.25em;
                    height: 3em;
                    overflow: hidden;
                    display: flex;
                    align-items: start;
                    justify-content: center;
                    background-color: $bulbasaur;
                }
                .location {
                    padding: 0.25em;
                    height: 3em;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $sasuke;
                }
            }
        }

    }

}


.htmlFive {
    fill: $naruto;
}



.cssThree {
    fill: $jimbei;
}

.jS {
    fill: $tweety;
}

.nodeJS {
    fill: $rock-lee;
}

.nodePack {
    fill: $sasuke;
}

// .reAct {
//     fill: $dory;
// }

.bootyStrap {
    fill: $barney
}

.shortBio {
    color: $casper;
}